.place__title {
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  vertical-align: top;
  margin: 0;
  letter-spacing: 1.4px;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 1.1px;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}
