.footer__links {
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 767px) {
  .footer__links {
    gap: 32px;
    flex-direction: column;
    margin-bottom: 48px;
  }
}