.place__website_url-heading {
  margin: 0;
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .place__website_url-heading {
    line-height: 20px;
  }
}
