.cover {
  margin: 92px auto 0;
  width: 100%;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 0;
    margin: 66px auto 0;
  }
}
